# Import

In [5]:
import pandas as pd

# import raw data
df = pd.read_csv("hotdog_data_raw.csv")

df

              Timestamp  What year are you in? Is hotdog a sandwich?
0    8/29/2025 17:17:56                      4                   Yes
1    8/29/2025 18:33:07                      3                   Yes
2    8/29/2025 18:33:08                      4                   Yes
3    8/29/2025 18:33:28                      3                   Yes
4    8/29/2025 18:33:41                      1                    No
..                  ...                    ...                   ...
202   9/1/2025 12:11:24                      4                    No
203   9/1/2025 12:13:56                      3                    No
204   9/1/2025 12:18:07                      4                   Yes
205   9/1/2025 12:18:41                      2                   Yes
206   9/1/2025 12:18:42                      4                   Yes

[207 rows x 3 columns]

# Cleaning

In [6]:
# rename columns for simplicity
df.rename(columns={
    'Timestamp': 'timestamp',
    'What year are you in?': 'year',
    'Is hotdog a sandwich?': 'is_sandwich'
}, inplace=True)

# convert timestamp to proper datetime object
df['timestamp'] = pd.to_datetime(df['timestamp'])

# save cleaned df
df.to_csv("hotdog_data_clean.csv", index=False)

df

              timestamp  year is_sandwich
0   2025-08-29 17:17:56     4         Yes
1   2025-08-29 18:33:07     3         Yes
2   2025-08-29 18:33:08     4         Yes
3   2025-08-29 18:33:28     3         Yes
4   2025-08-29 18:33:41     1          No
..                  ...   ...         ...
202 2025-09-01 12:11:24     4          No
203 2025-09-01 12:13:56     3          No
204 2025-09-01 12:18:07     4         Yes
205 2025-09-01 12:18:41     2         Yes
206 2025-09-01 12:18:42     4         Yes

[207 rows x 3 columns]

# Exploratory Plots

# Bias and Uncertainty

# Conclusions

...